# Project exclude paths
/out/
*.log
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/build/classes/java/main/org/NayaEngine/Tooling/Camera.class
/build/classes/java/main/org/NayaEngine/Compenents/DifferentCompenents/CameraComponent.class
/.gradle/8.0/checksums/checksums.lock
/build/classes/java/main/org/NayaEngine/Compenents/DifferentCompenents/ColliderComponent.class
/build/classes/java/main/org/NayaEngine/Tooling/Colors.class
/build/classes/java/main/org/NayaEngine/Tooling/Debug.class
/build/classes/java/main/DemoGame/DemoMain.class
/build/classes/java/main/DemoGame/DemoRenderer.class
/.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.0/executionHistory/executionHistory.bin
/.gradle/8.0/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.0/fileHashes/fileHashes.bin
/.gradle/8.0/fileHashes/fileHashes.lock
/build/classes/java/main/org/NayaEngine/Compenents/DifferentCompenents/FragmentShaderComponent.class
/build/classes/java/main/org/NayaEngine/uselessgameObjStuff/GameBehavior.class
/build/classes/java/main/org/NayaEngine/GameObjects/GameObject.class
/build/classes/java/main/org/NayaEngine/GameObjects/GameRenderer.class
/.gradle/8.0/dependencies-accessors/gc.properties
/.gradle/8.0/gc.properties
/.gradle/vcs-1/gc.properties
/build/classes/java/main/org/NayaEngine/Tooling/Gizmos.class
/build/classes/java/main/org/NayaEngine/Compenents/DifferentCompenents/GizmosCompenent.class
/build/classes/java/main/org/NayaEngine/uselessgameObjStuff/GlobalCompenet.class
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/build/classes/java/main/org/NayaEngine/uselessgameObjStuff/Gravity.class
/build/classes/java/main/org/NayaEngine/Compenents/iComponent.class
/build/classes/java/main/org/NayaEngine/GameObjects/InitObjects.class
/build/classes/java/main/org/NayaEngine/Tooling/Input.class
/build/classes/java/main/org/NayaEngine/ObjectEditor/Parser/InterptStuff.class
/.gradle/8.0/fileChanges/last-build.bin
/build/classes/java/main/org/NayaEngine/ObjectEditor/Lexer/Lexxer.class
/build/classes/java/main/org/NayaEngine/Compenents/DifferentCompenents/LightingComponent.class
/build/classes/java/main/org/NayaEngine/Tooling/LoadShader.class
/build/classes/java/main/Main.class
/build/classes/java/main/org/NayaEngine/Compenents/ManageCmponent.class
/.gradle/8.0/checksums/md5-checksums.bin
/build/classes/java/main/org/NayaEngine/ObjectEditor/Parser/Nodes/Node.class
/.gradle/buildOutputCleanup/outputFiles.bin
/build/classes/java/main/org/NayaEngine/ObjectEditor/Parser/Parser.class
/build/classes/java/main/org/NayaEngine/Compenents/DifferentCompenents/PhysicsComponent.class
/build/tmp/compileJava/previous-compilation-data.bin
/build/classes/java/main/org/NayaEngine/math/Ray.class
/build/classes/java/main/org/NayaEngine/Compenents/DifferentCompenents/RenderCompenent.class
/build/classes/java/main/renderer.class
/build/classes/java/main/Renderer2.class
/build/classes/java/main/Renderer4.class
/build/classes/java/main/RendererTest.class
/.gradle/8.0/fileHashes/resourceHashesCache.bin
/.gradle/8.0/checksums/sha1-checksums.bin
/build/classes/java/main/org/NayaEngine/Tooling/Shaders.class
/build/classes/java/main/org/NayaEngine/uselessgameObjStuff/Sprite2D.class
/build/classes/java/main/org/NayaEngine/Compenents/DifferentCompenents/SpriteComponent$1.class
/build/classes/java/main/org/NayaEngine/Compenents/DifferentCompenents/SpriteComponent.class
/build/classes/java/main/org/NayaEngine/uselessgameObjStuff/SpriteObject.class
/build/classes/java/main/org/NayaEngine/Tooling/SpriteSheetList.class
/build/classes/java/main/org/NayaEngine/ObjectEditor/Lexer/Token$Tokens.class
/build/classes/java/main/org/NayaEngine/ObjectEditor/Lexer/Token.class
/build/classes/java/main/org/NayaEngine/Compenents/DifferentCompenents/TransformComponent.class
/build/classes/java/main/org/NayaEngine/math/Vector3.class
/build/classes/java/main/org/NayaEngine/math/VectorMath.class
/build/classes/java/main/org/NayaEngine/Compenents/DifferentCompenents/VertexShaderComponent.class
/build/classes/java/main/org/NayaEngine/Tooling/Window$1.class
/build/classes/java/main/org/NayaEngine/Tooling/Window$2.class
/build/classes/java/main/org/NayaEngine/Tooling/Window.class
