# Project exclude paths

/out/
*.log
/.gradle/
Main.java
/src/models/
src/InfinityTrain/*.java
/src/sprites/
3DFrag.glsl
3DVertex.glsl
/src/sounds/
/src/TestStuff/
/src/ObjectEditorJSON/*.json
/.gradle/8.2
/build
/gradle
*.class
*.bin
*.lock
*.lock